<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.arbol}"></title>
    <link rel="stylesheet" th:href="@{/css/arboles.css}">
</head>
<body>
    <h2>Lista de Arboles</h2>
    <div class="contenedor-lista">
        <ul>
            <li th:each="arb : ${arboles}"
                th:text="${arb.nombre} + '
                de la familia: ' + ${arb.familia}">
            </li>
        </ul>
    </div>
    <br><br>
    <div class="contenedor-lista">
        <h2>Listado Familias</h2>
        <ul>
            <li th:each="fam:${familias}" th:text="${fam}"></li>
        </ul>
    </div>
</body>
</html>